body {
    width: 95%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.code{
    color:#000000;
    background:#ffffff;'
}

.tab_code {
    margin-left: 20px;
}

.semi_colon {
    color:#808030
}

.rights_reserved_text {
    position: absolute;
    text-align: center;
    left: 40%;
    bottom: 0%;
}


#fn1 {
    position: absolute;
    left: 2%;
    bottom: 5%;
}